# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java5-sof3021\jwt-refresh-token-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
